<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>641106208831-prk29oclp4qbr2apl3dbcu0e9m9oh3vo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.641106208831-prk29oclp4qbr2apl3dbcu0e9m9oh3vo</string>
	<key>API_KEY</key>
	<string>AIzaSyAKSAeV0_odzp3qgV2iR9-EKw8ZkvBoTd8</string>
	<key>GCM_SENDER_ID</key>
	<string>641106208831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rusel95.Chatster</string>
	<key>PROJECT_ID</key>
	<string>chatster-30acb</string>
	<key>STORAGE_BUCKET</key>
	<string>chatster-30acb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:641106208831:ios:e90ea771e8845188</string>
	<key>DATABASE_URL</key>
	<string>https://chatster-30acb.firebaseio.com</string>
</dict>
</plist>